<!-- <button mat-button [color]="'accent'"> Click me!</button>
<button mat-raised-button color="warn"> Click me!</button>
<mat-icon>flight_takeoff</mat-icon>
 -->
<mat-sidenav-container>
  <mat-sidenav #sideNav role="navigation">
    <!-- ALl routes/navigation -->
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/signin']" routerLinkActive="router-link-active" (click)="sideNav.close()">
        <mat-icon>how_to_reg</mat-icon>
        <span class="nav-caption">Signup</span>
      </a>
      <a mat-list-item [routerLink]="['/signup']" routerLinkActive="router-link-active" (click)="sideNav.close()">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Signin</span>
      </a>
      <a mat-list-item [routerLink]="['/training']" routerLinkActive="router-link-active" (click)="sideNav.close()">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-caption">Training</span>
      </a>
      <mat-list-item>
        <button mat-icon-button (click)="sideNav.close()">
          <mat-icon>eject</mat-icon>
          <span class="nav-caption">Logout</span>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Inside mat-sidenav-content we are place the component(s) that dynamically changes while routing
    Also mat-sidenav is above, so that effect of Angular Material website is retained -->
    <mat-toolbar [color]="'primary'">
      <!-- mat-toolbar is follows Flex-layout architecture So, below divs are placed in row direction
        (from left to right)-->

      <!-- <div fxHide.sm fxHide.md fxHide.lg fxHide.xl> -->
      <!-- Same as above code, hide this div for screen greater than xs -> gt-xs -->
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sideNav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a [routerLink]="['/']" routerLinkActive="router-link-active">LOGO</a>
      </div>
      <!-- fxHide -> hide the complete container, for very smaller devices (xs->width = 600px) -->
      <div fxFlex fxLayout="row" fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout="row" fxLayoutGap="10px" class="navigation-items">
          <li>
            <a [routerLink]="['/signin']" routerLinkActive="router-link-active">Login</a>
          </li>
          <li>
            <a [routerLink]="['/signup']" routerLinkActive="router-link-active">Signup</a>
          </li>
          <li>
            <a [routerLink]="['/training']" routerLinkActive="router-link-active">Training</a>
          </li>
          <li>
            <a>Logout</a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
